<!DOCTYPE html>
<html>
<head>
  <title>Great Dane Pet Health</title>
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/great-dane">Our Vets</a>
    </li>
    <li>
      <a href="/great-dane/new">Vet Creation Services</a>
    </li>
    <li>
      <a href="/lesser-danes">Our Animals</a>
    </li>
    <li>
      <a href="/lesser-danes/new">Create Animal</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
